@use "./styles/all";

body {
    background-image: url('./assets/bg.jpg'); ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.intro {
    font-size: 2rem;
    color: var(--color-primary);
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}